data-factory/pipeline/p_copy_rebrickable_user_data.json
{
	"name": "p_copy_rebrickable_user_data",
	"properties": {
		"activities": [
			{
				"name": "ac_get_user_token",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "ac_get_api_key",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "ac_get_user_password",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Authorization": {
							"value": "@concat('key ', trim(activity('ac_get_api_key').output.value))",
							"type": "Expression"
						},
						"Content-Type": "application/x-www-form-urlencoded",
						"Accept": "application/json"
					},
					"url": "https://rebrickable.com/api/v3/users/_token/",
					"body": {
						"value": "@concat('username=', pipeline().parameters.user_email, '&password=', activity('ac_get_user_password').output.value)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ac_get_api_key",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://kv-dp-203-dev.vault.azure.net/secrets/rebriklable-api-key?api-version=7.0",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "ac_get_user_password",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://kv-dp-203-dev.vault.azure.net/secrets/rebriklable-user-password?api-version=7.0",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "ac_for_each_user_endpoint",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ac_get_user_token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.endpoints",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "ac_copy_user_data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": true
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:01.000",
									"requestMethod": "GET",
									"additionalHeaders": {
										"Authorization": {
											"value": "@concat('key ', trim(activity('ac_get_api_key').output.value))",
											"type": "Expression"
										}
									},
									"paginationRules": {
										"AbsoluteUrl": "$.next"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_rebrickable_users_api",
									"type": "DatasetReference",
									"parameters": {
										"endpoint": {
											"value": "@item()",
											"type": "Expression"
										},
										"user_token": {
											"value": "@activity('ac_get_user_token').output.user_token",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_generic_rebrickable_user_data",
									"type": "DatasetReference",
									"parameters": {
										"dataset": {
											"value": "@split(item(), '/')[0]",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"user_email": {
				"type": "string",
				"defaultValue": "r.sarah@pucpr.edu.br"
			},
			"endpoints": {
				"type": "array"
			}
		},
		"variables": {
			"test": {
				"type": "String"
			},
			"endpoint": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Rebrickable"
		},
		"annotations": []
	}
}